<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--        https://gaspi-liebre.herokuapp.com/            -->

    
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="\css\utils-css\utils.css" rel="stylesheet">
    <link href="\css\utils-css\colors-&-fonts.css" rel="stylesheet">
    <link href="\css\utils-css\flex.css" rel="stylesheet">
    <!----> <link href="\css\estilos-tablet.css" rel="stylesheet">
    <link href="\css\estilos-desktop.css" rel="stylesheet"> 
    

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  

</head>

<body>
    <header 
        class="bg-amarillo  w-100"
    >
        <!-- HEADER TOP -->
         <div 
            class="flex-cont-wrap align-center space-between padd-10"
            >
            <h1 
            class="w-50 w-33-tablet w-33-desktop"
            >
                <img
                    src = "/images/logo-mercado-liebre.svg" 
                    alt="Logo Mercado Liebre"
                />
            </h1>
                        
            <form 
                class=" padd-10 flex-cont w-50 w-33-tablet w-33-desktop" 
                action="/" 
                method="get"
            >
                <div class="w-100">
                    <input
                        class="w-90 flex-center"
                        type="text" 
                        placeholder="Buscar productos, marcas y más">
                    </input><i 
                            class="fas fa-search ">
                        </i>
                </div>
            </form>
            <p 
                class= "text-center  w-100 w-33-tablet w-33-desktop flex-center"
            >
                <i 
                    class="fas fa-hand-holding-usd">
                </i> 
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <!-- HEADER BOT -->
            <nav class="padd-10 display-none w-100-desktop fx-cont-desktop space-between-desktop "> 
                <ul class="flex-cont margb-8 margt-8 w-40 navbar-desktop space-between-desktop">
                    <li><a href="#ofertas"> Ofertas </a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>                
                </ul>    
                <ul class="flex-cont margb-8 margt-8 w-40 navbar-desktop space-between-desktop ">
                    <li><a class="" href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>

         <!--  BURGER MENU  -->
        <div class="burger-menu font-24 marg-15 burgerbox" >
            <i class="fas fa-bars "></i>
        </div>

    <img class="w-100" src="\images\img-home-banner.jpg" alt=" Promocion fiestas"/>
        
    </header>
    
    <main class="main">
        <section class="flex-cont-wrap w-100 margb-15">
            <h2 
                class="gris-oscuro w-100 font-24 pBT-15">
                Basado en tu última visita
            </h2>
            <div 
                class="w-100 w-50-tablet w-25-desktop padd-10">
                <article 
                    class="box-shadow product margb-15 bg-blanco"  >        
                    <img 
                        class="w-100 padd-8" 
                        src="/images/img-cafetera-moulinex.jpg" 
                        alt="Cafetera"
                    >                                
                    <div 
                        class="linea-h-g w-100 margl-15 flex-cont-wrap align-center relative"
                    >
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>   
                        <p 
                            class="w-25 font-20 margb-15 margt-15">
                            $6.770
                        </p>
                        <p 
                            class="w-75 verde font-20 margb-15 margt-15">
                            40% off
                        </p>
                        <h2 
                            class="product-title  gris-oscuro w-100 no-negrita margb-15 margt-15">
                            Cafetera Moulinex
                        </h2>          
                    </div>
                </article>
            </div>
            <div 
                class="w-100 w-50-tablet w-25-desktop padd-10">
                <article 
                    class="box-shadow product margb-15 bg-blanco"  >
                    <img 
                        class="w-100 padd-8" 
                        src="/images/img-macbook-pro-2019.jpg" 
                        alt="Macbook pro 2019"
                    > 
                    <div 
                        class="linea-h-g w-100 margl-15 flex-cont-wrap align-center relative">
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>
                        <p 
                            class="w-25 font-20 margb-15 margt-15">
                            $230.000
                        </p>
                        <p 
                            class="w-75 verde font-18 margb-15 margt-15">
                            20% off
                        </p>
                        <h2 
                            class="product-title gris-oscuro w-100 no-negrita margb-15 margt-15">
                            MacBook Pro 2019
                        </h2> 
                    </div>
                </article>
            </div>
            <div 
                class="w-100 w-50-tablet w-25-desktop padd-10">
                <article 
                    class="box-shadow product margb-15 bg-blanco"  >
                    <img 
                        class="w-100 padd-8" 
                        src="\images\img-samsung-galaxy-s10.jpg" 
                        alt="Macbook pro 2019"
                    > 
                    <div 
                        class="linea-h-g w-100 margl-15 flex-cont-wrap  relative">
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>
                        <p 
                            class=" w-25 font-20 margb-15 margt-15">
                            $70.500
                        </p>
                        <p 
                            class=" w-75 verde font-18 margb-15 margt-15">
                            10% off
                       </p>
                        <h2 
                            class="product-title gris-oscuro w-100 no-negrita margb-15 margt-15">
                            Samsung Galaxy S10
                        </h3>
                    </div>    
                </article>     
            </div>
            <div 
                class="w-100 w-50-tablet w-25-desktop padd-10">
                <article 
                    class="box-shadow product margb-15 bg-blanco"  >
                    <img 
                        class="w-100 padd-8"   
                        src="\images\img-tv-samsung-smart.jpg" 
                        alt="Macbook pro 2019"
                    >
                    <div 
                        class="linea-h-g w-100 margl-15 flex-cont-wrap  relative">
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>
                        <p 
                            class="w-25 font-20 margb-15 margt-15">
                            $23.200
                        </p>
                        <p 
                            class="w-75 verde font-18 margb-15 margt-15">
                            5% off
                        </p>
                        <h2 
                            class="product-title gris-oscuro w-100 no-negrita margb-15 margt-15">
                            SmartTv Samsung 43"
                        </h3>
                    </div>
                </article>
            </div>
        </section>

        <section 
            class="flex-cont-wrap w-100 margb-15"
        >
            <h2 
                class="gris-oscuro w-100 font-24 pBT-15">
                Ofertas
            </h2>
            <div class="w-100 w-50-tablet w-25-desktop padd-10">
                <article  
                    class="box-shadow product margb-15 bg-blanco"
                >
                    <img 
                        class="w-100 padd-8" 
                        src="\images\img-cafetera-moulinex.jpg" 
                        alt="Macbook pro 2019"
                    > 
                    <div  
                        class="linea-h-g w-100 margl-15 flex-cont-wrap  relative"
                    > 
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>
                        <p 
                            class="w-25 font-20 margb-15 margt-15">
                            $6.770
                        </p>
                        <p 
                            class="w-75 verde font-18 margb-15 margt-15">
                            40% off
                        </p>
                        <h2 
                            class="product-title gris-oscuro w-100 no-negrita margb-15 margt-15">
                            Cafetera Moulinex
                        </h3>
                    </div>
                </article>
            </div>
            <div class="w-100 w-50-tablet w-25-desktop padd-10">
                <article 
                    class="box-shadow product margb-15 bg-blanco"
                >
                    <img 
                        class="w-100 padd-8" 
                        src="\images\img-macbook-pro-2019.jpg" 
                        alt="Macbook pro 2019"
                        > 
                    <div 
                        class="linea-h-g w-100 margl-15 flex-cont-wrap  relative"
                    > 
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>
                        <p 
                            class="w-25 font-20 margb-15 margt-15">
                            $230.000
                        </p>
                        <p 
                            class="w-75 verde font-18 margb-15 margt-15">
                            20% off
                        </p> 
                        <h2 
                            class="product-title gris-oscuro w-100 no-negrita margb-15 margt-15">
                            MacBook Pro 2019
                        </h3>
                    </div>
                </article>
            </div>
            <div 
                class="w-100 w-50-tablet w-25-desktop padd-10"
            >
                <article 
                    class="box-shadow product margb-15 bg-blanco"
                >
                    <img 
                        class="w-100 padd-8" 
                        src="\images\img-samsung-galaxy-s10.jpg"
                        alt="Macbook pro 2019"
                    > 
                    <div 
                        class="linea-h-g w-100 margl-15 flex-cont-wrap  relative"
                    >
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>
                        <p 
                            class="w-25 font-20 margb-15 margt-15"">
                            $70.500
                        </p>
                        <p 
                            class="w-75 verde font-18 margb-15 margt-15">
                            10% off
                        </p> 
                        <h2 
                            class="product-title gris-oscuro w-100 no-negrita margb-15 margt-15">
                            Samsung Galaxy S10
                        </h2>
                    </div>
                </article>
            </div>
            <div class="w-100 w-50-tablet w-25-desktop padd-10">
                <article 
                    class="box-shadow product margb-15 bg-blanco"
                >
                    <img 
                        class="w-100 padd-8" 
                        src="\images\img-tv-samsung-smart.jpg" 
                        alt="Macbook pro 2019">
                    <div  
                        class="linea-h-g w-100 margl-15 flex-cont-wrap  relative"
                    >
                        <i 
                            class="fas fa-truck truck-item verde">
                        </i>
                        <p 
                            class="w-25 font-20 margb-15 margt-15">
                                $23.200
                        </p>
                        <p 
                            class="w-70 paddl verde font-18 padd-15">
                            5% off
                        </p>
                        <h2 
                            class="product-title gris-oscuro w-100 no-negrita margb-15 margt-15">
                            SmartTv Samsung 43"
                         </h2>
                    </div>
                </article>
            </div>
        </section>
    
</main>

<footer class="bg-footer">
    <section class="flex-cont-wrap marg-15 flex-center">
      <article class=" w-90 padd-10 justify-center marg-8 w-33-tablet w-30-desktop">
        <i class="fas fa-credit-card azul footer-item"></i>
        <p 
          class="negrita gris-oscuro font-20 ">
            Pagá con tarjeta o en efectivo
        </p>
        <p class="gris-oscuro font-16 padd-8">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>

      <article class=" w-90 padd-10 justify-center marg-8 w-33-tablet w-30-desktop">
        <i class="fas fa-gift azul footer-item"></i>
        <p 
          class="negrita gris-oscuro font-20">
            Envío gratis desde $ 2.500</p>
        <p class="gris-oscuro font-16 padd-8">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>

      <article class=" w-90 padd-10 justify-center marg-8 w-33-tablet w-30-desktop">
        <i class="fas fa-user-shield azul footer-item"></i>
        <p class="negrita gris-oscuro font-20">Seguridad, de principio a fin</p>
        <p class="gris-oscuro font-16 padd-8">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </article>

      <div class="w-100 flex-cont">
        <p class="margb-8 margt-8 flex-start-x">Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
      </div>
    </section>
  </footer>

</body>
</html>