<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

    
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="\css\estilos-desktop.css" rel="stylesheet">
    <link href="\css\estilos-tablet.css" rel="stylesheet">
    <link href="/css/utils.css" rel="stylesheet">
    <link href="/css/colors.css" rel="stylesheet">
    <link href="/css/fonts.css" rel="stylesheet">

    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  

</head>

<body >
    <header class="bg-amarillo">
        <div class="flex-container no-wrap ">
            <img
                class="logo-ml" 
                src = "/images/logo-mercado-liebre.svg" 
                alt="Logo Mercado Liebre"
            />
    <!---  <div class="flex-container 
                        padd-8 
                        font-16 
                        flex-center 
                        no-wrap" >            
                <form action="/" method="get">
                    <input
                         type="text" 
                         placeholder="Buscar productos, marcas y más">
                         <i class="fas fa-search "></i>
                    </input> 
                </form>   
            </div>  --->
            </div>
            <div class="">
            <p class= "text-center 
                       font-16 
                       no-negrita 
                       padd-5 
                       flex-center">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </p>
            </div>
        </div>

         <nav class="padd-5 navbar flex-container"> 
            <ul class="">
                <li><a href="#ofertas"> Ofertas </a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>                
            </ul>    
            <ul class="">
                <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu font-24 margb-8" >
            <i class="fas fa-bars "></i>
        </div>

    <img src="\images\img-home-banner.jpg" alt=" Promocion fiestas" width="100%"/>
        
    </header>
    
    
    
    <main class="main">
        <section class="">
            <h2 class="gris-oscuro font-20 pBT-15">Basado en tu última visita</h2>
                <article class="bg-blanco bor-gris"  >        
                    <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">   
                        <div class="relative linea-h-g"> 
                             <i class="fas fa-truck truck-item verde"></i>    
                            <p class="negrita font-16">$6.770</p>
                            <p class="verde">40% off</p>
                            <h3 class="gris-oscuro"> Cafetera Moulinex</h3>          
                        </div>
               </article>
                 
                 <article class="bg-blanco bor-gris"  >
                    <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro 2019"> 
                        <div class="relative linea-h-g">
                             <i class="fas fa-truck truck-item verde"></i>
                            <p class="negrita font-16">$230.000</p>
                            <p class="verde">20% off</p>
                            <h3 class="gris-oscuro">MacBook Pro 2019</h3> 
                        </div>
                 </article>

                 <article class="bg-blanco bor-gris"  >
                    <img width="100%" src="\images\img-samsung-galaxy-s10.jpg" alt="Macbook pro 2019"> 
                        <div class="relative linea-h-g">
                             <i class="fas fa-truck truck-item verde"></i>
                            <p class="negrita font-16">$>$70.500</p>
                            <p class="verde">10% off</p>
                            <h3 class="gris-oscuro">Samsung Galaxy S10</h3>
                        </div>
                               
                </article>

                <article class="bg-blanco bor-gris"  >
                    <img width="100%" src="\images\img-tv-samsung-smart.jpg" alt="Macbook pro 2019">
                        <div  class="relative linea-h-g">
                             <i class="fas fa-truck truck-item verde"></i>
                            <p class="negrita font-16">$23.200</p>
                            <p class="verde">5% off</p>
                            <h3 class="gris-oscuro">SmartTv Samsung 43"</h3>
                    </div>
            </article>
        </section>

        <section class="">
            <h2 class="gris-oscuro font-20 pBT-15">Ofertas</h2>
                <article  class="bg-blanco bor-gris"  >
                    <img width="100%" src="\images\img-cafetera-moulinex.jpg" alt="Macbook pro 2019"> 
                        <div  class="relative linea-h-g"> 
                             <i class="fas fa-truck truck-item verde"></i>
                            <p class="negrita font-16">$6.770</p>
                            <p class="verde">40% off</p>
                            <h3 class="gris-oscuro">Cafetera Moulinex</h3>
                        </div>
                </article>

                <article class="bg-blanco bor-gris"  >
                    <img width="100%" src="\images\img-macbook-pro-2019.jpg" alt="Macbook pro 2019"> 
                        <div class="relative linea-h-g"> 
                             <i class="fas fa-truck truck-item verde"></i>
                            <p class="negrita font-16">$230.000</p>
                            <p class="verde">20% off</p> 
                            <h3 class="gris-oscuro">MacBook Pro 2019</h3>
                        </div>
                </article>

                <article class="bg-blanco bor-gris"  >
                        <img width="100%" src="\images\img-samsung-galaxy-s10.jpg" alt="Macbook pro 2019"> 
                        <div class="relative linea-h-g">
                             <i class="fas fa-truck truck-item verde"></i>
                            <p  class="negrita font-16">$70.500</p>
                            <p  class="verde">10% off</p> 
                            <h3 class="gris-oscuro">Samsung Galaxy S10</h3>
                        </div>
                        </article>

                <article class="bg-blanco bor-gris"  >
                        <img width="100%" src="\images\img-tv-samsung-smart.jpg" alt="Macbook pro 2019">
                        <div  class="relative linea-h-g">
                             <i class="fas fa-truck truck-item verde"></i>
                            <p class="negrita font-16">$23.200</p>
                            <p class="verde">5% off</p>
                            <h3 class="gris-oscuro">SmartTv Samsung 43"</h3>
                        </div>
                </article>
        </section>
    
</main>

<footer class="bg-footer">
    <section class="flex-container flex-column marg-15 flex-center">
      <article class=" footer-article marg-8">
        <i class="fas fa-credit-card azul footer-item"></i>
        <p 
          class="negrita gris-oscuro font-20 ">
            Pagá con tarjeta o en efectivo
        </p>
        <p class="gris-oscuro font-16">
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>

      <article class=" footer-article marg-8">
        <i class="fas fa-gift azul footer-item"></i>
        <p 
          class="negrita gris-oscuro font-20">
            Envío gratis desde $ 2.500</p>
        <p class="gris-oscuro font-16">
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>

      <article class=" footer-article marg-8">
        <i class="fas fa-user-shield azul footer-item"></i>
        <p class="negrita gris-oscuro font-20">Seguridad, de principio a fin</p>
        <p class="gris-oscuro font-16">
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
          puedas hacer, porque estás siempre protegid@.
        </p>
      </article>

      <p class="margb-8 margt-8 text-start">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>

    





</body>
</html>