l<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    
        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/theme.css" rel="stylesheet">
        <link href="\css\estilos-desktop.css" rel="stylesheet">
        <link href="\css\estilos-tablet.css" rel="stylesheet">
        <link href="/css/utils-css/utils.css" rel="stylesheet">
        <link href="\css\utils-css\colors-&-fonts.css" rel="stylesheet">
        <link href="\css\utils-css\flex.css" rel="stylesheet">
        <link href="/css/register.css" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet" />


    
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
          rel="stylesheet"
        />
      </head>

      <body>

        <header class="bg-amarillo">
            <div class="">
              <img
                class="logo-ml"
                src="/images/logo-mercado-liebre.svg"
                alt="Logo Mercado Liebre"
                width="100%"
              />
              <div class="flex-container padd-8 font-16">
                <div class=""><p>barra de búsqueda</p></div>
                <i class="fas fa-search"></i>
              </div>
              <h2 class="text-center font-16 no-negrita padd-5">
                <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta
                de crédito
              </h2>
            </div>
            <nav class="padd-5">
              <ul class="navbar">
                <li><a href="#ofertas"> Ofertas </a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li>
                  <a href="/register"
                    >Creá tu cuenta <i class="fas fa-id-card"></i
                  ></a>
                </li>
                <li>
                  <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                  <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
              </ul>
            </nav>
      
            <div class="burger-menu font-24 margb-8">
              <i class="fas fa-bars"></i>
            </div>
          </header>

          <main class="bg-gris-claro flex-container flex-column flex-center">
            <form class="w-100" action="/" method="get">
                <div class="flex-container flex-column  w-100 flex-center padd-5-porcent">
                    <input
                        class="input-border font-20 w-90 marg-5-porcent"
                        type="text" 
                        placeholder="Nombre de usuario, e-mail"
                    />
                    <input
                        class="input-border font-20 w-90 marg-5-porcent"
                        type="text" 
                        placeholder="Contraseña"
                    />
                    <button 
                        class="input-border-celeste blanco bg-celeste font-20 w-90 marg-5-porcent"
                        type="submit">
                        Enviar
                    </button>
                </div>
            </form>
          </main>

          <footer class="bg-footer">
            <section class="flex-container flex-column marg-15 flex-center">
              <article class=" footer-article marg-8">
                <i class="fas fa-credit-card azul footer-item"></i>
                <p 
                  class="negrita gris-oscuro font-20 ">
                    Pagá con tarjeta o en efectivo
                </p>
                <p class="gris-oscuro font-16">
                  Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                  efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
              </article>
      
              <article class=" footer-article marg-8">
                <i class="fas fa-gift azul footer-item"></i>
                <p 
                  class="negrita gris-oscuro font-20">
                    Envío gratis desde $ 2.500</p>
                <p class="gris-oscuro font-16">
                  Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                  miles de productos. Es un beneficio de Mercado Puntos.
                </p>
              </article>
      
              <article class=" footer-article marg-8">
                <i class="fas fa-user-shield azul footer-item"></i>
                <p class="negrita gris-oscuro font-20">Seguridad, de principio a fin</p>
                <p class="gris-oscuro font-16">
                  ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                  puedas hacer, porque estás siempre protegid@.
                </p>
              </article>
      
              <p class="margb-8 margt-8 text-start">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
          </footer>

      </body>

</html>