.bg-amarillo {
  background-color: #eac926;
}

.bg-celeste {
  background-color: #1259c3;
}

.bg-blanco {
  background-color: white;
}

.bg-gris-claro {
  background-color: #ebebeb;
}

.blanco {
  color: white;
}

.amarillo {
  color: #eac926;
}

.azul {
  color: #03264c;
}

.celeste {
  color: #1259c3;
}

.gris-oscuro {
  color: #666;
}

.gris-claro {
  color: #ebebeb;
}

.verde {
  color: #39b54a;
}

.negrita {
  font-weight: bold;
}

.no-negrita {
  font-weight: lighter;
}
