.bg-amarillo {
    background-color: #EAC926;
}

.bg-celeste {
    background-color: #1259c3;
}

.bg-blanco {
    background-color: white;
}

.blanco {
    color: white;
}

.amarillo {
    color: #EAC926;
}

.azul {
   color : #03264C; 
}

.celeste {
    color : #1259c3;
} 

.gris-oscuro {
    color : #666;
}

.gris-claro {
    color : #ebebeb;
}

.verde {
    color : #39b54a;
}

.negrita {
    font-weight: bold;
}

.no-negrita {
    font-weight: lighter;
}
