@media (min-width: 769px ) {
    .burger-menu{
        display: none;
    }

    .logo-ml {
        flex-grow: 0.25;
    }
    
    .product-title {
        display: none;
    }

    .product {
        box-shadow: none;
    }

    .navbar {
        display: flex ;
    }
}
