@media (min-width: 769px ) {
    .burger-menu{
        display: none;
    }

    .navbar {
            display: flex ;
    }

   .w-25-desktop {
       width: 25%;
   }

    .product-title {
        display: hi;
    }

    /*
    .product:hover .product-title {
        display: flex;
    } */
    
    
    .box-shadow {
        box-shadow: none;
    }

    /*
    .product:hover .box-shadow {
        display: flex;
    } */

    .product:hover .product-title{
        display: contents;
        transition: 0.3;
    }
    .product:hover{
       box-shadow: 0px 0px 10px rgb(100, 100, 100);
       transition: 0.3; 
    }

    .fx-cont-desktop {
        display: flex;
    }

    
    .fx-cont-wrap-desktop {
        display: flex;
        flex-wrap: wrap;
    }

    .text-start-right-desktop {
        text-align: right;
    }


    
}
