@media (min-width: 481px) {
    .burgerbox{
        display: none;
    }

    .w-33-tablet {
        width: 33%;
    }
    .w-50-tablet {
        width: 50%;
    }

    .w-100-tablet {
        width: 100%;
    }

   
    .fx-cont-tablet {
        display: flex;
    }

    .fx-cont-wrap-tablet {
        display: flex;
        flex-wrap: wrap;

    }

    .space-between-tablet {
        justify-content: space-between;
    }

    .space-around-tablet {
        justify-content: space-around;
    }

        
    .navbar-tablet li {
        list-style: none;
        display: inline-block;
    }

    .navbar-tablet li a  {
        color: #000;
        text-decoration: none;
    } 



    /*
    .main-navbar {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .navbar-left {
        display: flex;
        text-align: left;
        justify-content: space-around;
    }

    .navbar-left a {
        color: #000;
        text-decoration: none;
        list-style: none;
    }

    .navbar-right {
        display: flex;
        text-align: right;
        justify-content: space-around;
    }

    .navbar-right a {
        color: #000;
        text-decoration: none;
        list-style: none;
    } */
    
   

}