.padd-3-porcent {
    padding: 3%;
}

.padd-5-porcent {
    padding: 5%;
}

.padd-10-porcent {
    padding: 10%;
}

.padd-15-porcent {
    padding: 15%;
}

.padd-8 {
    padding: 8px;
}

.padd-5 {
    padding: 5px;
}

.padd-15 {
    padding: 15px;
}

.linea-h-g {
    border-top: 1px solid #ebebeb;
}

.bor-gris {
    border: 5px solid #ebebeb;
}


.pBT-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bor-1 {
    border-style: solid;
    border-width: 1px;
}

.bor-circle {
    border-radius: 50%;
}


.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}
.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.marg-center {
    margin: 0 auto;
}

.marg-3-porcent {
    margin: 3%;
}

.marg-5-porcent {
    margin: 5%;
}

.marg-10-porcent {
    margin: 10%;
}

.marg-15-porcent {
    margin: 15%;
}


.marg-8 {
    margin: 8px;
}

.marg-15 {
    margin: 15px;
}

.margt-8 {
    margin-top: 8px;
}
.margb-8 {
    margin-bottom: 8px;
}

.margl-8 {
    margin-left: 8px;
}

.margr-8 {
    margin-right: 8px;
}

.margt-15 {
    margin-top: 15px;
}
.margb-15 {
    margin-bottom: 15px;
}

.margl-15 {
    margin-left: 15px;
}

.margr-15 {
    margin-right: 15px;
}

.text-center {
    text-align: center;
}

.relative {
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.input-border {
    border: 5px solid #ffffff;
    border-radius: 5%;
}

.input-border-celeste {
    border: 5px solid #1259c3;
    border-radius: 5%;
}

.grow-50 {
    flex-grow: 0.5;
}

.no-wrap {
    flex-wrap: nowrap;
}

.border-box {
    box-sizing: border-box;
}

.text-start {
    text-align: start;
}