.grow-50 {
    flex-grow: 0.5;
}



.grow-70 {
    flex-grow: 0.7;
}

.grow-30 {
    flex-grow: 0.3;
}


.grow-0 {
    flex-grow: 0.0;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.flex-cont {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.flex-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-start-x {
    justify-content: flex-start;
}

.flex-end-x {
    justify-content: flex-start;
}

.no-wrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.flex-end-y {
    align-items: flex-end;
}

.flex-start-y {
    align-items: flex-start;
}

.text-start-left {
    text-align: left;
}

.text-start-right {
    text-align: right;
}